language: node_js
node_js:
- '16.18.1'
env:
  global:
  - MATTERMOST_CHANNEL=publication
  # REGISTRY_TOKEN(editor=cozy, app=darty)
  - secure: U67FdllXSDCdDiW88H708YaGeiHq5XPW1AZKtJM6SLzwF0iY7Ax4S6aEmKiuOEnuXW7Q/jixXaSKajCDksvUPS9HksBxqdnfbOfnN8WCv1EemPmXb5nAj5drkyhrAjYn5brX94rf35G3a7GZLsqewBK/cFUaGZmcq3lAhup+WZGEqMojSE2cqik8Uf8MCpvGZ+P/WEMsSZXiJlMpYPehSfS2/X4tWfgdz3h6+M6x3S3dN1CAWWUyuy62ftJsh+S3VpX6Q2oFrlNkwBvDaXp1XjjtE9ghiMJmyXxUYCCexzXirp2yoK6d79rLT13fSli53FLnSwbr6UqP+KieoeYHYnUQVsVFCMe92GymGYu7kusI2sjQRMkA2XnHXj/NPOOABmCD9slxlfhOPIXG/oEOngSPNwgLptuJZTcdSDnbgKdVBjN5kV0VG1I3CHmRF9upjTE6bnMOZESq4rh+tGWdzd3myUWTCh0hq2dQCtJ/pzlQykJfOP/PZL1Fci59elwL+vsrOXjtvJZ1zk3zcOt20wkV35TLOMFvz4I+GybciOiBfPlFmO5Ne+C/zS9+HtcbN8aVfTk/jNUeR9rCDP+yMEUMlu2Pc+0qZ2ESwbq8CtK3aExR/ho5d+nR35ZAPMyg4O/O1cIpP34FDWAmCLWQFM70jlxxXdXYy01/QU53oKA=
  # MATTERMOST_HOOK_URL
  - secure: WyighxTw1XiQePjQXomRtdQhNeA1npX5cqVPUiMPEEhLNfAR2DZmNcx6MUfutcKWfbyui4KYrZu9uVdZ5zrKfrF/hJDrgTBH4orwrrUSC+45cXUariND3G0hpHeDIkploxDDHVInst3vUDr34OlZlR/n2K6DH3POk5Tzpi/poEwGco4cqCxMTdHggSuu6uminkxWy76v11o6XXyWoIWjCFQPI4ELH7XMpQ8VE4zUxShNJN5k/Z2fc6cEgHL7eTAKiUMhq/6Gv4tBPlWCji6KRv8wiCjC8+6OxrRpDkKdYBqmG9NEoBp99eRFHQl5uSPIv+LPrviGfrQ+PEXXtVU7zQzYGXsVKjcIIrnMSxI9XhytYvuOAyyEGLzf7pSx4ILww3ZMvHCN2Iy3Rkch47DSr4ZngWEDvCz3gCIGq4XRRBcqDv2bvYgHgJDvxG/uDEDR5aDG0AhRVQupLul5K6TheRtn92rCsKzbPGOdRyrmKRvU0ZzBr3kHhXG9lJ4FyotySkA3xt/C0fyJWuwDtNef2OQmd1kSaoeFZqc0i/GkENgmGN8tWOsa7sAvp/bNWmzDolqkuUZnPXTQuqMCsKS7am7e/rt2KGxV8TbEyjX2RA8AeRNp7J6csOu68Xzkf6aXfsirRK/nug7ZU61aYc1Mc1P930+r+laEdkFXbEclL8A=
cache:
  yarn: true
  directories:
  - node_modules
branches:
  except:
  - build
  - build-debug
script:
- yarn lint
- yarn build
deploy:
- provider: script
  skip-cleanup: true
  script: DEPLOY_BRANCH=build yarn deploy && yarn cozyPublish
  on:
    branch: master
- provider: script
  skip-cleanup: true
  script: DEPLOY_BRANCH=build yarn deploy && yarn cozyPublish --postpublish mattermost
  on:
    tags: true
before_install:
- openssl aes-256-cbc -K $encrypted_0b7d3beb1b3a_key -iv $encrypted_0b7d3beb1b3a_iv
  -in github_deploy_key.enc -out /tmp/github_deploy_key -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/github_deploy_key
- ssh-add /tmp/github_deploy_key
after_deploy:
- rm /tmp/github_deploy_key
- ssh-add -D
